.navbar {
    background-color:#111;
}

.navbar a {
    color:white;
}

.navbar a:hover {
    color:#a2c799;
}

.navbar-brand{
    font-size: 25px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: white;
}

/* Twitter */
.fa-twitter {
  color: white;
}

