.navbar {
    background-color:#111;
}

.navbar a {
    color:white;
}

.navbar a:hover {
    color:#a2c799;
}

.navbar-brand{
    font-size: 25px;
    font-family: 'Brush Script MT', cursive;
}

h1 {
   color: darkgreen;
   font-family: 'Brush Script MT', cursive;
}
body{
   background-color: rgb(246,242,238);
    font-family: 'Courier New', monospace;
   color: black; 
}

h2 {
   text-align: center;
}

.container_1{
    width:1200px;
    
    margin-left:auto;
    margin-right:auto;
}

.container_1_top{
    width:1200px;
    height:200px;
    background-image:url("https://www.studioplant.com/media/amasty/shopby/option_images/Green_plants_-_03072022_-_1.jpg");
    
}

.container_1_top p{
    color:#a2c799;
    align-items:center;
    padding-top:40px;
    padding-left:10px;
    font-size: 30px;
}

.container_1_above_middle{
    margin-left: auto;
    margin-right: auto;
    width:1200px;
    height:90px; 
    padding-top:20px;
    text-align: center;
}

.container_1_above_middle p{   
    padding-top:10px;
    font-size: 50px;
    font-family: 'Courier New', monospace;
    color:#0f3b04;
}

.container_1_middle{
    width:1200px;
    margin-bottom: 20px;
    padding-top:30px
    background-color: blue;
}

.container_1_middle_pic1{
    float:left;    
    width:600px;
    height:720px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.container_1_middle_pic1 span.heading{    
    font-size: 30px;    
    color:darkgreen;
}

.container_1_middle_pic2{
    float:left;
    width:600px;
    height:720px;
    border-right:1px solid #ccc;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.container_1_middle_pic2 span.heading{   
    margin-top:10px;
    font-size: 30px;
    align-items:center;
    color:darkgreen;
}

.text {
  font-size: 17px;  
  color:#0f3b04;
}

.container_1_bottom{
    margin-left:auto;
    margin-right:auto;
    width:1200px;    
    padding-top:20px;
    padding-bottom: 20px;
}

.footer{
    margin-left:auto;
    margin-right: auto;
    padding: 20px;
    background-color:#222;
    color:white;
    width: 1280px;
    height: 160px;
    margin-bottom: 0px;
}

.footer .footer1{
    width:300px;
    height:140px;
    float: left;
}

.footer .footer2{
    width:300px;
    height:140px;
    float: left;
}

.footer .footer3{
    width:300px;
    height:140px;
    float: left;
    margin-left: 100px;
}

.footer .contact, .menu, .about{
    font-size:20px;    
}

.menua{
    color:white;
    font-size: 25px;
}

.fa {
  font-size: 45px; 
  text-decoration: none;
  margin-right: 10px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: white;
}

/* Twitter */
.fa-twitter {
  color: white;
}

.fa-instagram {   
  color: white;
}

#myCarousel{
    width:600px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-caption{
    color:black
}
