h1 {
   color: black;
   font-family: 'Brush Script MT', cursive;
}
body{
   background-color: rgb(246,242,238);
   font-family: 'Courier New', monospace;
   color: black;

.btn btn-outline-success {
  text-align:center;
}

form {
   text-align: center;
}

.text-muted {
  text-align: center;
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#menubrand {
    font-size:25px;
    color:white;
    padding-left:19px;
    padding-bottom:8px;
}

.navbar {
    background-color:#111;
}

.navbar a {
    color:white;
}

.navbar a:hover {
    color:#a2c799;
}

.cursive {
    font-family: 'Brush Script MT', cursive;
}

.menuleftpadding {
    padding-left:17px;
}
